################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FakeItTillYouMakeIt/.vs/FakeItTillYouMakeIt
/FakeItTillYouMakeIt/bin/Debug/net8.0
/FakeItTillYouMakeIt/obj
/FakeItTillYouMakeIt/FakeItTillYouMakeIt.sln
