################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FakeItTillYouMakeIt/.vs/FakeItTillYouMakeIt
/FakeItTillYouMakeIt/bin/Debug/net8.0
/FakeItTillYouMakeIt/obj
/FakeItTillYouMakeIt/FakeItTillYouMakeIt.sln
/FakeItTillYouMakeIt/.vs/ProjectEvaluation
/FakeItTillYouMakeIt/.vs/ProjectEvaluation/fakeittillyoumakeit.metadata.v8.bin
/FakeItTillYouMakeIt/.vs/ProjectEvaluation/fakeittillyoumakeit.projects.v8.bin
/FakeItTillYouMakeIt/.vs/ProjectEvaluation/fakeittillyoumakeit.strings.v8.bin
